
#container1{
    display: flex;
    justify-content: flex-start;
    border: 0px black solid;
}


#firstcontainer{
    width: 300px;
    height: 1000px;
    background-color: black;
}

#secondcontainer{
    width: 100%;
    height: 1000px;
    border: 1px black solid;
}

.inline{
    display: inline-block;
}

#text{
    font-weight: 700;
    font-family: sans-serif;
    padding-top: 15px;
    font-size: 25px;
    position: absolute;
    margin-left: 10px;
    color: white;
    text-shadow: 3px 3px 8px whitesmoke;
}

#head{
    filter: drop-shadow(3px 3px 8px white);
}

.logo{
    display: inline;
}

#logocontainer{
    margin: 10px;
}

.class{
    margin-left: 30px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

#fontawe{
    padding-right: 20px;
    color: white;
}

#follow{
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 15px;
    color: white;
}

.actor{
    color: white;
    font-size: 17px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 20px;
}



#engactor{
    padding-right: 20px;
}

#actorcontainer{
    margin: 10px;
}



#liked{
    display: inline-block;
    font-size: 17px;

}

.like{
    color: white;
    font-size: 17px;
    font-weight: 700;
}

#likedmovies{
    border: 2px solid red;
    border-radius: 25px;
    background-color: red;
    font-size: 30px;
    color: white;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 40px;
}


#searchcontainer{
    width: 1255px;
    height: 140px;
    background-color: black;
}

#button{
    width: 80px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
    color: white;
    background-color: black;
    box-shadow: 3px 3px 3px,-2px -2px 2px;
    text-shadow: 5px 5px 5px white;
    margin-top: 30px;
    margin-left: 40px;

}

.topbar{
    display: inline-block;
}

#one{
    color: white;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 12px;
    
}

#two{
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: 0px solid white;
    background-color: black;
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 18px;
    color: white;

}

input:focus{
    border: none;
    outline: none;
}

#oneone{
    width: 400px;
    height: 45px;
    border: 0.5px white solid;
    background-color: black;
    border-radius: 20px;
    margin-left: 500px;
}

#three{
    color: white;
    font-size: 25px;
    margin-left: 50px;
}

#four{
    color: white;
    font-size: 25px;
    margin-left: 40px;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    border-radius: 20px;
}

#bellaciao{
    width: 1255px;
    height: 500px;
    background-image: url(../MEDIA/IMAGE/money2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    position: absolute;
}

#bella1{
    width: 200px;
    height: 50px;
    border: 1px solid white;
    color: white;
    text-align: center;
    padding-top: 25px;
    border-radius: 25px;
    font-size: 20px;
    background-color: rgb(145, 36, 36);
    margin: 60px;
    
}
#bella2{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    margin-left: 60px;
}

#bella3{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-left: 70px;
    margin-top: 10px;
}

#bell2{
    color: white;
}

#bella4{
    margin-left: 60px;
    margin-top: 20px;
}

#button2{
    border-radius: 10px;
    font-size: 15px;

}
#button2:focus{
    border: none;
    outline: none;
}

#container2{
    
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-left: 10px;

}

#button3{
    width: 140px;
    height: 60px;
    border-radius: 25px;
    font-size: 30px;
    color: white;
    background-color: red;
    box-shadow: 3px 3px 3px,-2px -2px 2px;
    margin-top: 40px;
    margin-left: 1050px;
    

}

.director{
    color: white;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 80px;
    margin-left: 30px;
}

#actorcontainer2>.class5{
    display: inline-block;
    margin-top: 40px;
    margin-left: 85px;
}

.class5:hover{
    transform: scale(1.1);
}

#img4{
    border-radius: 20px;

}

#actorname>.class9{
    display: inline-block;
    color: white;
}

.class9{
    font-size: 20px;
    margin-left: 95px;
    margin-top: 30px;

}

#name4{
margin-left: 135px;
}

#name5{
    margin-left: 165px;
}

#name6{
    margin-left: 125px;
}

#name7{
    margin-left: 125px;
}

#name8{
    margin-left: 65px;
    font-size: 16px;
    }

#name9{
        margin-left: 60px;
    }   
    
#name11{
        margin-left: 140px;
    }    

.class10{
    font-size: 20px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 150px;
    color: white;
}

#name12{
    margin-left: 230px;
}

#name13{
    margin-left: 190px;
}

#name14{
    margin-left: 160px;
}

#name12{
    margin-left: 240px;
}