#main{
    background-image: url(../MEDIA/IMAGE/13.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    padding-left: 20px;
    padding-top: 20px;
    filter: drop-shadow(5px 5px 4px black);
}

#logo2{
    font-weight: 700;
    font-family: sans-serif;
    padding-top: 15px;
    font-size: 25px;
    filter: drop-shadow(5px 5px 4px black);
}

#container{
        width: 450px;
        height: 525px;
        border: 3px solid whitesmoke;
        border-radius: 25px;
        box-shadow: 5px 5px 6px lightblue,-5px -5px 4px;
        background-image: url(../MEDIA/IMAGE/16.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 700px;
        margin-bottom: 80px;
        margin-top: 30px;
}

#head{
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
    margin-left: 17px;
    margin-top: 30px;
    color: pink;
}

#pass{
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 30px;
    color: bisque;
}

.name{
    text-align: center;
    font-weight: 700;
    margin-left: 94px;
    margin-top: 30px;
    height: 24px;
    width: 250px;
    border: 3px double whitesmoke;
    border-radius: 15px;
    box-shadow: 3px 3px 5px;
}

.name1{
    text-align: center;
    font-weight: 800;
    background-color:#fbbc04;;
    margin-left: 94px;
    margin-top: 30px;
    height: 28px;
    width: 250px;
    border: 3px double whitesmoke;
    border-radius: 15px;
    box-shadow: 3px 3px 5px black;
}

#img{
    margin-left: 195px;
    margin-top: 50px;
    filter: drop-shadow(5px 5px 4px whitesmoke);
}

#log{
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    filter: drop-shadow(5px 5px 4px whitesmoke);
}

#verify1{
    text-align: center;
    font-weight: 600;
    background-color: #fbbc04;
    height: 30px;
    width: 250px;
    margin-top: 30px;
    margin-left: 97px;
    border: 3px double whitesmoke;
    border-radius: 25px;
    box-shadow: 3px 3px 5px black,-3px -3px 5px black;
}